html, body{
    background-color: #F2F2F2;
    color: #2E4D59;
    font-family: 'Ubuntu', sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
}

.ajouterFormulaireLivre{
    display: none;
}

.ajouterFormulaireLivre-show{
    display: block;
}
.carte-livre{
    height: 100%!important;
    display: flex;
    justify-content: center;
}